<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analyze.css') }}">
  <title>Analyzing now...</title>
</head>
<body>
  <h1 id="analyzingText">Analyzing now<span id="dots"></span></h1>
  <div class="background-video">
    <video autoplay muted loop>
      <source src="{{ url_for('static', filename='background2.mp4') }}" type="video/mp4">
    </video>
  </div>
  <div id="emotionResults">
    <!-- 解析結果を表示する部分 -->
  </div>

  <script>
    function getEmotionData() {
      fetch('/get_emotion_data')
      .then(response => response.json())
      .then(data => {
        const emotionData = data.emotion_data;
        document.getElementById('emotionResults').innerText = emotionData;

        if (emotionData === 'Complete') {
          clearInterval(interval);
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }

    const interval = setInterval(getEmotionData, 1000);

    let dotsCount = 0;
    const dotsElement = document.getElementById('dots');

    function updateDots() {
      dotsElement.innerText = '.'.repeat(dotsCount);
      dotsCount = (dotsCount + 1) % 4;
    }

    setInterval(updateDots, 500); // 0.5秒ごとにupdateDots関数を呼び出す
  </script>
</body>
</html>
