<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>Interview Checker</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1 class="title">Interview Checker</h1>
  <h2 class="subtitle">Please upload your video!!</h2>
  
  <form id="videoForm" method="POST" enctype="multipart/form-data">
    <input type="file" name="video" accept="video/*">
    <input type="submit" value="Upload">
  </form>

  <script>
    document.getElementById('videoForm').onsubmit = function(event) {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);

      fetch('/upload', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        alert(data.message);
        window.location.href = '/analyze';
      })
      .catch(error => {
        console.error('Error:', error);
      });
    };
  </script>
</body>
</html>
